* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.docs p {
  background: #46bcd2;
  padding: 24px 0;
  max-width: inherit;
  margin-top: 1.2em;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.unit {
  overflow: hidden;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.lastUnit {
  overflow: hidden;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  float: left;
  float: none;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.line { zoom: 1; }

.size8of8{width:100%}
.size7of8{width:87.5%}
.size6of8{width:75%}
.size5of8{width:62.5%}
.size4of8{width:50%}
.size3of8{width:37.5%}
.size2of8{width:25%}
.size1of8{width:12.5%}
.size4of4{width:100%}
.size3of4{width:75%}
.size2of4{width:50%}
.size1of4{width:25%}
.size2of2{width:100%}
.size1of2{width:50%}
.size3of3{width:100%}
.size2of3{width:66.66666666666666%}
.size1of3{width:33.33333333333333%}
.size1of1{width:100%}
.size1of2:first-child{max-width:580px}
.size1of2.maintain-width{max-width:inherit}